.main{
    --bg-Color: #dbd8d3;
    background-color: var(--bg-Color);
}
.shop{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding: 0 100px;
    justify-content: space-around;
}

.card{
    width: 200px;
    height: 250px;
    /* outline: solid 1px red; */
    font-size: 1rem;
}

.imgWrapper{
    background-color: #aba395;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.productText{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px 0;
    font-family: "Caprasimo", serif;
    font-weight: lighter;

}
.img{
    height: 170px;
    width: 170px;
}
.addToCart{
    grid-area: 1/2/2/3;
    appearance: none;
    background-color: #80734f;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50% 50% 0 0 ;
    color: white;
    cursor: pointer;
    box-shadow: #554c33 -3px 3px 6px;
}
.addToCart:hover{
    background-color: #554c33;
    outline: 2px solid white;
}