.main{
    background-color: var(--darker-color);
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
}
.products, .product{
    display: grid;
    grid-template-columns: 300px repeat(4,1fr);
    align-items: center;
    justify-items: center;
    color: var(--purple);
}

.products{
    grid-template-rows: 10px repeat(4,1fr);
    width: 65%;
    font-size: 1rem;
    gap: 1rem 0;
    min-height: 70vh;
}
.product{
    background-color: var(--lighter-color);
    justify-self: stretch;
    grid-column: 1/-1;
    background-color: #dbd8d3;
    height: 100px;
    border-radius: 1rem;
    font-family: "Caprasimo", serif;
    font-weight: lighter;
    font-size: 1rem;
    letter-spacing: 0.05rem;
}
.productInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem ;
}

.quantity{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0.75rem ;
    
}
.quantity> button{
    background-color: transparent;
    cursor: pointer;
    color: var(--purple);
    font-size: 2rem;
    border-radius: 0.5rem;
    border: none;
    width: 1.5rem;
}

.quantity> button:hover{
    background-color: var(--purple);
    color: var(--white);
}

.product_title{
    width: 65%;
    display: -webkit-box;
    max-width: 90%;
    height: minmax(fit-content, 3em);
    line-height: 1em;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.imgWrapper{
    background-color: var(--img-bg);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    border-radius: 1rem;
    padding: 0.25rem;
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: contain; 
}

.removeFromCart{
    background-color: transparent;
    border: none;
    fill: var(--purple);
    border-radius: 0.5rem;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
}
.removeFromCart:hover{
    background-color: var(--purple);
    fill: var(--white);
}

.products > h1{
    grid-area: 2/1/5/-1;
    font-size: 3rem;
}

.checkout{
    background-color: var(--lighter-color);
    min-width: 25%;
    height: fit-content;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 50px);
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 1rem 2rem;
    border-radius: 3rem;
    gap: 0.5rem;
}
.checkout> h1{
    grid-area: 1/1/2/3;
    color: var(--purple);
}
.checkout > p, .totalBox > p{
    font-size: 0.75rem;
    justify-self: center;
    width: 120px;
    text-align: center;
    color: var(--purple2);
}
.totalBox > p{
    font-size: 0.85rem;
    color: var(--purple);
}
.totalBox{
    grid-area: -3/1/-2/3;
    border-top: 1px solid grey;
    padding: 0.75rem ; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.checkoutBtn{
    grid-area: -2/1/-1/3;
    border: none;
    background-color: var(--purple);
    fill: var(--white);
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 0.5rem;
}