
.main{
    min-height: 100vh;
    padding: 0;
    background-image: linear-gradient(to right bottom, #ded6cd, #d8cec5, #d2c6bd, #cdbfb5, #c7b7ad);
}
.main > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.title{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}
.title > h1 {
    font-size: 8rem;
    color: var(--purple);
    text-shadow: -8px 6px 3px #3b2a4093;
}
.title > a{
    color: var(--purple);
    font-size: 1.5rem;
}

.imgWrapper{
    position: relative;
    width: 60%;
    padding-top: 1.65rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgWrapper::before{
    content: '';
    width: 3rem;
    position: absolute;
    top: 0;
    height: 100%;
    left: -1rem;
    background-color: #d8cec5; 
    filter: blur(1rem);  
    z-index: 1;
}
.imgWrapper::after{
    content: '';
    height: 5rem;
    width: 97%;
    position: absolute;
    top: -1.5rem;
    left: 1.2rem;
    background-color: #d8cec5; 
    filter: blur(1rem);  
    z-index: 1;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    z-index: 0;
    
}
