@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
    font-weight: bolder;
    font-size: 20px;
}
main{
    padding-top: 10% ;
}
h1{
    font-family: "Shadows Into Light", cursive;
}