.main{
    composes: main from '../ErrorPage/ErrorPage.module.css';
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.main > h1{
    font-size: 3.5rem;
}
.form{
    composes: errorBox from '../ErrorPage/ErrorPage.module.css';
    height: fit-content;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    box-shadow:0px 3px 8px 0px #837447;
}
.form > label, .textareaLabel{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.form > label> input , textarea{
    width: 150px;
    padding: 0.5rem;
    appearance: none;
    border: none;
    border-radius: 0.5rem;
    margin: 0.25rem;
    background-color: #f5f5f5;
}
.form > label> input:focus , textarea:focus{
    outline: 2px solid var(--darker-color);
}

textarea{
    width: 100%;
}
.form > div{
    grid-area: 2/1/3/-1;

}
.btn{
    composes: btn from '../ErrorPage/ErrorPage.module.css';
   grid-area: 3/1/4/-1;
}
