.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    background-image: linear-gradient(to right bottom, #ded6cd, #d8cec5, #d2c6bd, #cdbfb5, #c7b7ad);

}
.errorBox{
    background-color: var(--lighter-color);
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 35vh;
    border-radius: 2rem;
}
.errorBox > span{
    font-size: 2rem;
}
.btn{
    composes: checkoutBtn from '../Cart/Cart.module.css';
    width: 50%;
    justify-content: center;
    
}