nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    height: 12vh;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.link{
    text-decoration: none;
    color: var(--purple);
    font-weight: bolder;
    width: 100px;
    font-size: 1rem;
    text-align: center;
    padding: 10px 0 ;
    border-radius: 17px;
    fill: var(--purple);
    position:relative;
    outline: 0.15rem solid #3b2a4094;
    transition-property:  background-color, color, fill, outline, box-shadow;
    transition-duration:0.3s;
    transition-timing-function: ease;
}
.link[data-count]{
    width: 80px;
    padding: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link[data-count]::after{
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    background-color: var(--lighter-color);
    content: attr(data-count);
    border: 0.15rem solid #3b2a4094;
    border-radius: 1rem;
    padding: 0.15rem 0.4rem;
    text-align: center;
    font-size: 0.85rem;
    transition-property:  background-color, color, fill, outline;
    transition-duration:0.3s;
    transition-timing-function: ease;
}

.active, .active[data-count]::after{
    background-color: var(--purple);
    color: var(--white);
    fill: var(--white);
    outline: none;
    box-shadow:-1px 2px 5px #312911;
}
.active[data-count]::after{
    border: 0.15rem solid var(--darker-color);
    box-shadow: none;
    
}
.scrolled, .scrolled > .link[data-count]:not(.active)::after{
    /* background-color: #b9b6b0; */
    background-color: #afaba1;
}