nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    --purple: #3b2a40;
    --white:#fafaff;
    position: fixed;
    width: 100%;
    height: 15%;
    background-color: transparent;
}

.link{
    text-decoration: none;
    color: var(--purple);
    font-weight: bolder;
    width: 100px;
    font-size: 1rem;
    text-align: center;
    padding: 10px 0 ;
    border-radius: 17px;
}

.active{
    background-color: var(--purple);
    color: var(--white);
}