nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    height: 12vh;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.link{
    text-decoration: none;
    color: var(--purple);
    font-weight: bolder;
    width: 100px;
    font-size: 1rem;
    text-align: center;
    padding: 10px 0 ;
    border-radius: 17px;
    fill: var(--purple);
}

.active{
    background-color: var(--purple);
    color: var(--white);
    fill: var(--white);
}
.scrolled{
    background-color: #b9b6b0;
}